*
    margin: 0
    padding: 0
nav
    height: 16vh
    background-color: purple
    .first-nav-part
        width: 35%
        height: 40%
        list-style: none
        border-top: 1px solid white
        border-bottom: 1px solid white
        li
            width: 24%
            height: 100%
            a
                text-decoration: none
                color: white
                font-size: 1vw
                width: 100%
                height: 100%
                display: flex
                align-items: center
                justify-content: center
                font-weight: 500
            a:hover
                background-color: red

    .logo
        a
            img
                width: 4.5vw
                margin-bottom: 2vh
    .second-nav-part
        width: 35%
        height: 40%
        list-style: none
        border-top: 1px solid white
        border-bottom: 1px solid white
        li
            width: 24%
            height: 100%
            a
                text-decoration: none
                color: white
                font-size: 1vw
                display: flex
                align-items: center
                justify-content: center
                font-weight: 500
                width: 100%
                height: 100%
            a:hover
                background-color: red
