@media screen and ( min-width: 1025px )

.section1
    width: 100vw
    height: 100vh
    position: relative
    z-index: -1
    .hero-img
        background-image: url(../../public/images/banner1.jpg)
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        filter: brightness(0.2)
        width: 100%
        height: 100%
    .section1-div
        width: 50%
        height: 50%
        position: relative
        h1
            font-family: courgette
            text-align: center
            font-size: 3vw
            span:nth-child(1)
                font-size: 5vw
                text-transform: uppercase
            span:nth-child(2)
                font-size: 5vw
                text-transform: uppercase
                color: $red
                animation: flash 1.5s infinite reverse
            @keyframes flash
                0%
                    color: $red
                100%
                    color: red
            span:nth-child(3)
                font-size: 4vw
            span:nth-child(4)
                font-size: 5vw
        button
            border-radius: 50px
            width: 13vw
            height: 7vh
            a
                text-decoration: none
                color: black
        .section1-btn2
            position: absolute
            left: 55%
            font-size: 1.5vw
            bottom: 4vh
            a
                color: white
        .section1-btn1
            position: absolute
            left: 20%
            font-size: 1.5vw
            bottom: 4vh
// Tablet Version
@media (min-width: 426px) and (max-width: 1023px)
    .section1
        width: 100vw
        height: 100vh
        position: relative
        z-index: -1
        .section1-div
            width: 50%
            height: 60%
            position: relative
            h1
                font-size: x-large
                position: absolute
                top: 20%
                span:nth-child(1)
                    font-size: xx-large
                    text-transform: uppercase
                span:nth-child(2)
                    font-size: xx-large
                    text-transform: uppercase
                    color: $red
                span:nth-child(3)
                    font-size: x-large
                span:nth-child(4)
                    font-size: xx-large
            button
                border-radius: 50px
                width: 20vw
                height: 8vh
            .section1-btn2
                left: 50%
                top: 75%
                bottom: 2vh
                font-size: 2vw
            .section1-btn1
                left: 8%
                top: 75%
                bottom: 2vh
                font-size: 2vw
// Mobile VERSION
@media (max-width: 426px)
    .section1
        .section1-div
            width: 100%
            height: 80%
            position: relative
            h1
                font-family: courgette
                text-align: center
                font-size: x-large
                position: absolute
                top: 50%
                transform: translate(0,-50%)
                span:nth-child(1)
                    font-size: xx-large
                    text-transform: uppercase
                span:nth-child(2)
                    font-size: xx-large
                    text-transform: uppercase
                    color: $red
                span:nth-child(3)
                    font-size: x-large
                span:nth-child(4)
                    font-size: xx-large
            button
                border-radius: 50px
                width: 80vw
                height: 8vh
            .section1-btn1
                position: absolute
                left: 10%
                top: 75%
                bottom: 2vh
                font-size: 5vw
            .section1-btn2
                position: absolute
                left: 10%
                top: 90%
                bottom: 2vh
                font-size: 5vw
